# URL de Conexão com o PostgreSQL (compatível com Neon, Vercel Postgres e Supabase)
DATABASE_URL="postgresql://usuario:senha@host:5432/nome_do_banco?sslmode=require"

# URL Direta para Migrações do Prisma (opcional para Pooling de Conexões)
DIRECT_URL="postgresql://usuario:senha@host:5432/nome_do_banco?sslmode=require"

# Ambiente
NODE_ENV="development"
